<form>
	<input type="hidden" name="id" value="{{id}}">
	<input type="text" placeholder="Snippet description..."  class="description" name="description" />
	
	<div class="filecreator">
		<header>
			<input type="text" placeholder="Filename including extension..." class="filename snippet-change-filetype-field" name="filename"/>
		</header>
		
		<div class="editor"></div>
	</div>
	
	<button class="btn snippet-save-btn">Save Snippet</button>
	
</form>