@import 'base.scss';

.top-container .snippet-list-container {
	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	
		@extend .clearfix;
	}
	
	ul {
		max-height: 100%;
		overflow: hidden;
	}
	
	.snippets-item {
		border-left: 5px solid $line-gray;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		display: block;
		float: left;
		margin-right: 40px;
		overflow: hidden;
		padding: 2px 0 2px 10px;
		max-width: 200px;
		
		& > * {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 100%;
		}  
		
		.filename {
			margin-bottom: 5px;
			
			a, a:visited {
				color: $blue !important;
				font-weight: bold !important;
			}
		}
		
		.content, .avatar, .language {
			display: none;
		}
	}
}

.main-container {
	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	
		@extend .clearfix;
	}
	
	.snippets-item {
		border-bottom: 1px solid $line-gray;
		display: block;
		padding-bottom: 20px;
		margin-bottom: 30px; 
		
		.avatar {
			background: transparent url('../img/avatar.png') no-repeat center center;
			background-size: 100%;
			border-radius: 1000px;
			display: block;
			float: left;
			height: 50px;
			margin: 0 10px 10px 0;
			width: 50px;
		}
		
		.filename, .description, .language {
			float: left;
			width: 80%;
		}
		
		.filename a, .filename a:visited {
			color: $blue !important;
			font-weight: bold !important;
		}
		
		.content {
			border: 1px solid $line-gray;
			border-radius: 5px;
			clear: both;
			float: none;
			height: 100px;
			padding: 10px;
			width: 100%;
			
			@extend .clearfix;
			
			&.edit-disable textarea {
				pointer-events: none;
			}
		}
	}
}

.main-container {
	input {
		border: 1px solid $line-gray;
		border-radius: 5px;
		color: $black;
		display: block;
		font-size: 14px;	
		padding: 6px 8px;
	}
	
	input.description {
		margin-bottom: -1px;
		min-height: 35px;
		width: 100%;
	}
	
	.filecreator {
		border: 1px solid $line-gray;
		border-radius: 5px;
		
		input.filename {
			border: none;
			border-right: 1px solid $line-gray;
			min-height: 35px;
			width: 35%;
		}
		
		.editor {
			border-top: 1px solid $line-gray;
			height: 500px;
		}		
	}
	
	.btn {
		background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
		border: 1px solid rgba(27,31,35,0.2);
	    border-radius: 0.25em;
		cursor: pointer;
		display: block;
		font-weight: bold;
		margin-top: 10px;
		padding: 6px 12px;
		position: relative;
		float: right;
	}
}