@import 'base.scss';

.top-container .snippet-list-container {
	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	
		@extend .clearfix;
	}
	
	ul {
		max-height: 100%;
		overflow: hidden;
	}
	
	.snippets-item {
		border-left: 5px solid $line-gray;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		display: block;
		float: left;
		margin-right: 40px;
		overflow: hidden;
		padding: 2px 0 2px 10px;
		max-width: 200px;
		
		& > * {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 100%;
		}  
		
		.filename {
			margin-bottom: 5px;
			
			a, a:visited {
				color: $blue !important;
				font-weight: bold !important;
			}
		}
		
		.content, .avatar, .language {
			display: none;
		}
	}
}

.main-container {
	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	
		@extend .clearfix;
	}
	
	.snippets-item {
		border-bottom: 1px solid $line-gray;
		display: block;
		padding-bottom: 20px;
		margin-bottom: 30px; 
		
		.avatar {
			background: transparent url('../img/avatar.png') no-repeat center center;
			background-size: 100%;
			border-radius: 1000px;
			display: block;
			float: left;
			height: 50px;
			margin: 0 10px 10px 0;
			width: 50px;
		}
		
		.filename, .description, .language {
			float: left;
			width: 80%;
		}
		
		.filename a, .filename a:visited {
			color: $blue !important;
			font-weight: bold !important;
		}
		
		.content {
			border: 1px solid $line-gray;
			border-radius: 5px;
			clear: both;
			float: none;
			max-height: 150px;
			padding: 10px;
			width: 100%;
			
			@extend .clearfix;
			
			&.editdisable textarea {
				pointer-events: none;
			}
		}
	}
}